.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 8px;
  padding: 8px;
  border-radius: 16px;
  background-color: var(--white-bg);
  z-index: 1;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .projectNameBox {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #070f21;
}
.header .projectNameBox .colorStatus {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 4px;
}
.header .projectNameBox .projectName {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
}
.header .icon {
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  word-wrap: break-word;
  word-break: break-all;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: var(--secondary-color);

  width: 100%;
}
.tagsBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
}
.tagsBox .tag {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  padding: 2px 4px;
  border-radius: 8px;
}

.infoBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer .duration {
  width: auto;
  max-width: 70%;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  border-radius: 6px;
  padding: 2px 4px;
  background-color: var(--light-gray-bg);
}
